.carousel-container {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    border-radius: 20px;
}

.carousel-wrapper {
    display: flex;
    transition: transform 0.5s ease;

}

.carousel-item {
    min-width: 100%;
    box-sizing: border-box;
}

iframe {
    width: 100%;
    height: 800px;
    border: none;
}

/* Botões de navegação */
.carousel-control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px;
    font-size: 24px;
    cursor: pointer;
    border: none;
}

.carousel-control-prev {
    left: 10px;
}

.carousel-control-next {
    right: 10px;
}

/* Estilo do botão "Ver mais" */
.ver-mais {
    display: block;
    margin: 30px auto 0;
    text-align: center;
    padding: 10px 20px;
    background-color: #ff0000;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.ver-mais:hover {
    background-color: #ff0000;
}

main {
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
}