.carousel-container {
    width: 100%;
    max-width: 50rem;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    border-radius: 1.25rem;
}

.carousel-wrapper {
    display: flex;
    transition: transform 0.5s ease;

}

.carousel-item {
    min-width: 100%;
    box-sizing: border-box;
}

iframe {
    width: 100%;
    height: 25rem;
    border: none;
}

/* Botões de navegação */
.carousel-control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 0.625rem;
    font-size: 1.5rem;
    cursor: pointer;
    border: none;
}

.carousel-control-prev {
    left: 0.625rem;
}

.carousel-control-next {
    right: 0.625rem;
}

/* Estilo do botão "Ver mais" */
.ver-mais {
    display: block;
    margin: 1.875rem auto 0;
    text-align: center;
    padding: 0.625rem 1.25rem;
    background-color: #ff0000;
    color: white;
    text-decoration: none;
    border-radius: 0.313rem;
    gap: 1rem;
}

.ver-mais:hover {
    background-color: #ff0000;
}

main {
    display: flex;
    flex-direction: column;
    padding: 3rem;
}

.descripition-page {
    margin-top: 1rem;
}

.descripition-page {
    text-align: justify;
    line-height: 1.5rem;
}