* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
    /* text-decoration: none;  */
}

body {
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-size: cover;
}

button {
    background-color: #d32f2f;
    color: white;
    padding: 0.25rem 0.5rem;
    border-radius: 0.5rem;
    box-shadow: 2px 2px 10px gray;
    cursor: pointer;
}

main {
    margin: 5rem;
    font-size: 2rem;
}

h1 {
    margin-bottom: 2rem;
}

p {
    font-style: italic;
}

main button {
    background-color: #d32f2f;
    color: white;
    font-size: medium;
    font-weight: bold;
    margin: 5rem 0;
    padding: 1rem;
    border-radius: 0.7rem;
    box-shadow: 2px 2px 8px black;
    cursor: pointer;
}

button:hover {
    background-color: red;
    transition: all 0.25s;
}

.link{
    text-decoration: none;
    color: #000000;
    p
}

.container-principal {
    background-color: rgba(255, 255, 255, 0.616);
    border-radius: 5rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 3rem;
}


.container-secundario {
    display: flex;
    flex-direction: row;
    margin-top: 2rem;
    gap: 1rem;
}

.container-noticias-main {
    background-color: #ffffff;
    width: 70%;
    display: flex;
    gap: 2rem;
    flex-direction: column;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
}

.container-aside {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}

#ww_53d59aa64c42e {
    border-radius: 1rem !important;
}

.itens:hover {
    transition: 0.5s ease;
    color: aquamarine;
}

.itens h3 {
    font-size: 1.5rem;
    color: #e90000;
    text-decoration: none;
}

.itens {
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.384) 0px 5px 15px;
    background-color: #ffffff;
    width: 100%;
}

.letras{
    width: 60%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
    padding: 1rem;
    text-align: justify;
}

.div-img{
    width: 40%;
}
.div-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
}
.itens a {
    display: flex;
    text-decoration: none;
    width: 100%;
}

.itens p {
    font-size: 0.9rem;
    font-style: arial;
    gap: 1rem;
    text-decoration: none;
    color: black;
}


.quadrado {
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.384) 0px 5px 15px;
    background-color: #ffffff;
    width: 15rem;
    height: 15rem;
    margin-bottom: 1rem;
    vertical-align: top;
    gap: 1rem;
    margin-left: 1rem;
    
}

.quadrado img {
    width: 100%;
    height: 60%;
    border-radius: 1rem 1rem 0 0;
}

.quadrado h3 {
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    color: #e90000;
    text-decoration: none;
}

.quadrado p {
    font-size: 0.8rem;
    font-style:arial;
    text-align: center;
    text-decoration: none;
}

.publicidade img {
    width: 100%;
    height: 100%;
    border-radius: 1rem;
}

.publicidade {
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.384) 0px 5px 15px;
    background-color: #ffffff;
    width: 50%;
    height: auto;
    margin-top: 5rem;
    
}

.not1 {
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.384) 0px 5px 15px;
    background-color: #ffffff;
}

.not2 {
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.384) 0px 5px 15px;
    background-color: #ffffff;
}

.not3 {
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.384) 0px 5px 15px;
    background-color: #ffffff;
}

.escrito p {
    font-size: 1rem;
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    text-align: center;
    margin: 1rem;
}

.escrito h1 {
    display: inline-block;
    vertical-align: top;
    font-size: 2rem;
    font-weight: bold;
    margin-left: 1rem;
}

.escrito h2 {
    font-size: 2rem;
    font-weight: bold;
    
    margin: 1rem;
}

.btn {
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Georgia;
    color: #000000;
    font-size: 12px;
    padding: 10px 20px 10px 20px;
    border: solid #ff0808 1.5px;
    text-decoration: none;
    width: 10rem !important;
  }
  
  .btn:hover {
    text-decoration: none;
  }

.itens-sec{
    display: flex;
    flex-direction: row;
    align-content: center;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 2.0rem;
    text-decoration: none;
}

.t-noticias{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    text-align: justify;
    padding: 0.5rem;
}

.t-noticias h3 {
text-align: center;
}

.t-noticias p{
    text-align: center;
}