* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
    /* text-decoration: none;  */
}

body {
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-size: cover;
}

button {
    background-color: #d32f2f;
    color: white;
    padding: 0.25rem 0.5rem;
    border-radius: 0.5rem;
    box-shadow: 2px 2px 10px gray;
    cursor: pointer;
}

main {
    margin: 5rem;
    font-size: 2rem;
}

h1 {
    margin-bottom: 2rem;
}

p {
    font-style: italic;
}

main button {
    background-color: #d32f2f;
    color: white;
    font-size: medium;
    font-weight: bold;
    margin: 5rem 0;
    padding: 1rem;
    border-radius: 0.7rem;
    box-shadow: 2px 2px 8px black;
    cursor: pointer;
}

button:hover {
    background-color: red;
    transition: all 0.25s;
}

.container-principal {
    background-color: rgba(255, 255, 255, 0.616);
    border-radius: 5rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 3rem;
}


.container-secundario {
    display: flex;
    flex-direction: row;
    margin-top: 2rem;
    gap: 1rem;
}

.container-noticias-main {
    background-color: #ffffff;
    width: 70%;
}

.container-aside {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

#ww_53d59aa64c42e {
    border-radius: 1rem !important;
}

.itens img {
    width: 15%;
    border-radius: 1rem;
}

.itens h3 {
    font-size: 1.5rem;
    font-weight: bold;
}

.itens {
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.384) 0px 5px 15px;
    background-color: #ffffff;
    margin-bottom: 1rem;
}

.itens a {
    display: flex;
}

.itens p {
    font-size: 1.2rem;
    font-style: italic;
    gap: 1rem;
    text-decoration: none;
}


.quadrado {
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.384) 0px 5px 15px;
    background-color: #ffffff;
    width: 15rem;
    height: 15rem;
    margin-bottom: 1rem;
    display: inline-block;
    vertical-align: top;
    gap: 1rem;
}

.quadrado img {
    width: 100%;
    height: 60%;
    border-radius: 1rem 1rem 0 0;
}

.quadrado h3 {
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
}

.quadrado p {
    font-size: 0.8rem;
    font-style: italic;
    text-align: center;
    text-decoration: none;
}