* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4; 
}

.conteudo {
    display: grid; 
    grid-template-columns: repeat(2, 1fr); 
    gap: 20px; 
    padding: 20px;
}

.itens {
    background-color: white;
    padding: 20px;
    border-radius: 8px; 
    text-align: center;
}

.itens img {
    width: 100%; 
    border-radius: 8px; 
    height: 25rem; 
    object-fit: cover; 
}

.itens h3 {
    margin-top: 30px;
    font-size: 16px;
    color: #333;
}

.rodape a img {
    width: 20px; 
    margin-left: 10px;
}
footer {
    background-image: url(../img/footer.png);
    color: #fff;
    height: 120px;
    width: 100%;
    margin-top: 2rem;
}

.site-footer {
    background-color: rgba(233, 0, 0, 0.5);
    color: #fff;
    text-align: center;
    justify-content: center;
    height: 120px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
}

.rodape a img {
    width: 20px; 
    margin-left: 10px;
}
