* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4; 
}

.logo img {
    width: 200px;
    height: auto;
}

.rodape a img {
    width: 20px; 
    margin-left: 10px;
}

h1 {
    text-align: center;
}

p {
    text-align: center;
}

.img-central {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px rgb(255, 0, 0);
    border-radius: 10px;
    width: 512px;
    height: 400px;
    object-fit: cover;
}

.foto-central {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 0.5rem;
    width: 512px;
    height: 512px;
    
}
.imgVoltar {
    width: 20px;
    height: 20px;
    display: flex;
}

.sonhos {
    text-align: center;
    color: rgba(0, 0, 0, 0.308);
}

.itens {
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 50%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 2rem;
}

.itens span{
    text-align: center;
    color: rgba(0, 0, 0, 0.308);
}

.itens p{
    text-align: justify;
    line-height: 1.5rem;
}

.container-principal {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin: 2rem;
}



