* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #ffffff; 
}

.conteudo {
    display: grid; 
    grid-template-columns: repeat(2, 1fr); 
    gap: 1.25rem; 
    padding: 1.25rem;
}

.itens {
    background-color: white;
    padding: 1.25rem;
    border-radius: 0.5rem; 
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0rem 0.313rem 0.938rem;
}

.itens img {
    width: 100%; 
    border-radius: 0.5rem; 
    height: 25rem; 
    object-fit: cover; 
}

.itens h3 {
    margin-top: 1.875rem;
    font-size: 1rem;
    color: #000000;
}

.rodape a img {
    width: 1.25rem; 
    margin-left: 0.625rem;
}
.rodape a img {
    width: 1.25rem; 
    margin-left: 0.625rem;
}
