* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #ffffff; 
}

.logo img {
    width: 12.5rem;
    height: auto;
}

.rodape a img {
    width: 1.25rem; 
    margin-left: 1.25rem;
}

h1 {
    text-align: center;
}

p {
    text-align: center;
}

.img-parceria {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.313rem rgb(255, 0, 0);
    border-radius: 0.313rem;
    width: 45rem;
    height: 20rem;
}

.foto-parceria {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 0.5rem;
}

.imgVoltar {
    width: 1.25rem;
    height: 1.25rem;
    display: flex;
}

.sonhos {
    text-align: center;
    color: rgba(0, 0, 0, 0.308);
}

.itens {
    background-color: rgb(255, 255, 255);
    border-radius: 1.25rem;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
    width: 50%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 2rem;
}

.itens span{
    text-align: center;
    color: rgba(0, 0, 0, 0.308);
}

.itens p{
    text-align: justify;
    line-height: 1.5rem;
}

.container-principal {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}