body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
}

.titulo {
    text-align: center;
    padding: 5rem;
}

.titulo h2 {
    font-size: 1.5rem;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    padding: 5rem;
    gap: 1rem;
}

/* Configurando os cards */
.card-container {
    display: flex;
    justify-content: space-around;
    width: 100%; 
    max-width: 75rem; 
}

.card1 {
    background-color: #D41A1A;
    color: #fff;
    padding: 3rem;
    border-radius: 0.625rem;
    width: 22%; 
    box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.1);
}
.card2 {
    background-color: #8d1010;
    color: #fff;
    padding: 3rem;
    border-radius: 0.625rem;
    width: 22%; 
    box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.1);
}

.card3 {
    background-color: #D41A1A;
    color: #fff;
    padding: 3rem;
    border-radius: 0.625rem;
    width: 22%; 
    box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.1);
}

.card4 {
    background-color: #790f0f;
    color: #fff;
    padding: 3rem;
    border-radius: 0.625rem;
    width: 22%; 
    box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.1);
}

.card h2 {
    margin-top: 0;
    font-size: 1rem;
}

.card1 p {
    line-height: 1.5rem;
    text-align: justify;
    margin-top: 1rem;
}

.card1:hover, .card2:hover, .card3:hover, .card4:hover{
    transition: 0.4s ease;
    transform: scale(1.1);
} 

.card2 p {
    line-height: 1.5rem;
    text-align: justify;
    margin-top: 1rem;
}
.card3 p {
    line-height: 1.5rem;
    text-align: justify;
    margin-top: 1rem;
}
.card4 p {
    line-height: 1.5rem;
    text-align: justify;
    margin-top: 1rem;
}

.button-container {
    margin-top: 2.5rem; 
    text-align: center;
    width: 100%; 
}

.button {
    background-color: #d40d0d; 
    color: white; 
    padding: 0.8rem; 
    text-decoration: none; 
    font-size: 1.125rem; 
    transition: background-color 0.3s ease; 
    border-radius: 0.7rem;
}

.button:hover {
    background-color: #a30a0a; 
}

.rodape a img {
    width: 1.25rem; 
    margin-left: 0.625rem;
}