
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

header {
    background-color: #e90000;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.logo img {
    max-width: 250px;
    height: auto;
}

nav ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

nav ul li {
    margin: 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
}

.search {
    display: flex;
    gap: 10px;
    margin-top: 10px;
    margin-left: auto;
}

.search input {
    padding: 10px;
    border: none;
    border-radius: 3px;
}

.search button {
    padding: 10px 20px;
    background-color: #F44336;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 3px;
}

.conteudo {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
}

.itens {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
}

.itens img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    object-fit: cover;
}

.itens h3 {
    margin-top: 10px;
    font-size: 16px;
    color: #333;
}

h2 {
    text-align: center;
    color: #757575;
    margin-top: 0;
    padding: 0;
    margin-top: 40px;
}

.equipe {
    display: flex;
    width: 100%;
    height: 800px;
    justify-content:space-around;
    flex-wrap: wrap;
    gap: 50px;
    margin: 30px;
}

.membro {
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    border-radius: 0.25rem;   
}

.imagem-membro {
    width: 150px;
    height: auto;
    border-radius: 90%;
}

h3 {
    color: #e90000;
    margin: 10px;
}

.Sobre-Nós {
    margin-top: 40px;
}
.p-group  {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: row;
    align-content: flex-start;
}


.footer-background{
    background-image: url(../img/footer.png);
    color: #fff;
    height: 120px;
    width: 100%;
    margin-top: 2rem;
}
.site-footer {
    background-color: rgba(233, 0, 0, 0.5);
    color: #fff;
    text-align: center;
    justify-content: center;
    height: 120px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
}


